
<%- contentFor('body') %>

<!-- Main Content Starts -->
<main class="container flex-grow p-4 sm:p-6">
  <!-- Page Title Starts -->
  <div class="mb-6 flex flex-col justify-between gap-y-1 sm:flex-row sm:gap-y-0">
    <h5>Order List</h5>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Ecommerce</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Order List</a>
      </li>
    </ol>
  </div>
  <!-- Page Title Ends -->

  <!-- Order Listing Starts -->
  <div class="space-y-4">
    <!-- Order Header Starts -->
    <div class="flex flex-col items-center justify-between gap-y-4 md:flex-row md:gap-y-0">
      <!-- Order Search Starts -->
      <form
        class="group flex h-10 w-full items-center rounded-primary border border-transparent bg-white shadow-sm focus-within:border-primary-500 focus-within:ring-1 focus-within:ring-inset focus-within:ring-primary-500 dark:border-transparent dark:bg-slate-800 dark:focus-within:border-primary-500 md:w-72"
      >
        <div class="flex h-full items-center px-2">
          <i class="h-4 text-slate-400 group-focus-within:text-primary-500" data-feather="search"></i>
        </div>
        <input
          class="h-full w-full border-transparent bg-transparent px-0 text-sm placeholder-slate-400 placeholder:text-sm focus:border-transparent focus:outline-none focus:ring-0"
          type="text"
          placeholder="Search"
        />
      </form>
      <!-- Order Search Ends -->

      <!-- Order Action Starts -->
      <div class="flex w-full items-center justify-between gap-x-4 md:w-auto">
        <div class="dropdown" data-placement="bottom-end">
          <div class="dropdown-toggle">
            <button type="button" class="btn bg-white font-medium shadow-sm dark:bg-slate-800">
              <i class="w-4" data-feather="filter"></i>
              <span>Filter</span>
              <i class="w-4" data-feather="chevron-down"></i>
            </button>
          </div>
          <div class="dropdown-content w-72 !overflow-visible">
            <ul class="dropdown-list space-y-4 p-4">
              <li class="dropdown-list-item">
                <h2 class="my-1 text-sm font-medium">Status</h2>
                <select class="select order-status">
                  <option value="">Select a Status</option>
                  <option value="PENDING">Pending</option>
                  <option value="CANCELLED">Cancelled</option>
                  <option value="CONFIRMED">Comfirmed</option>
                  <option value="SHIPPING">Shipping</option>
                  <option value="DELIVERED">Delivered</option>
                  <option value="PAID">Paid</option>
                </select>
              </li>

              <li class="dropdown-list-item">
                <h2 class="my-1 text-sm font-medium">Ordered Date</h2>
                <input class="input input-date-range" type="text" placeholder="YYYY-MM-DD to YYYY-MM-DD">
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Order Action Ends -->
    </div>
    <!-- Order Header Ends -->

    <!-- Order Table Starts -->
    <div class="table-responsive whitespace-nowrap rounded-primary">
      <table class="table order-list">
        <thead>
          <tr>
            <th class="w-[5%]">
              <input
                class="checkbox"
                type="checkbox"
                data-check-all
                data-check-all-target=".order-checkbox"
              />
            </th>
            <th class="w-[5%] uppercase">Order</th>
            <th class="w-[55%] uppercase">Customer</th>
            <th class="w-[10%] uppercase">Total</th>
            <th class="w-[10%] uppercase">Order At</th>
            <th class="w-[10%] uppercase">Status</th>
            <th class="w-[5%] !text-right uppercase">Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <!-- Order Table Ends -->

    <!-- Order Pagination Starts -->
    <div class="flex flex-col items-center justify-between gap-y-4 md:flex-row">
      <p class="text-xs font-normal text-slate-400">Showing 1 to 10 of 50 result</p>
      <!-- Pagination -->
      <nav class="pagination">
      </nav>
    </div>
    <!-- Order Pagination Ends -->
  </div>
  <!-- Order Listing Ends -->
</main>
<!-- Main Content Ends -->

<script src="<%= getAssetUrl('js/pages/order-list.js') %>" type="module"></script>
