
<%- contentFor('body') %>

<!-- Main Content Starts -->
<main class="container flex-grow p-4 sm:p-6">
  <!-- Page Title Starts -->
  <div class="mb-6 flex flex-col justify-between gap-y-1 sm:flex-row sm:gap-y-0">
    <h5>Add New Product</h5>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Ecommerce</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#">Add Product</a>
      </li>
    </ol>
  </div>
  <!-- Page Title Ends -->

  <!-- Edit Product Page Starts -->
  <div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
    <!-- Left side Div Start -->
    <section class="detail flex flex-col gap-8 lg:col-span-2">

     
    </section>
    <!-- Left Side Div End  -->

    <!-- Right Side Div Start  -->
    <section class="organization h-full lg:col-span-1">
      <!-- Organization -->
      
    </section>
    <!-- Right Side Div End  -->
  </div>
  <!-- Edit Product Page Ends -->
</main>
<!-- Main Content Ends -->

<script src="<%= getAssetUrl('js/pages/product-add.js') %>" type="module"></script>
